* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  --primary: #18621f;
}

body {
  font-family: "Open Sans", serif;
}

.container {
  --gutter-x: 3.75rem;
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding-left: calc(0.5 * var(--gutter-x));
  padding-right: calc(0.5 * var(--gutter-x));
}

.__page-content {
  margin-top: 3rem;
}

__input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.login-form {
  max-width: 600px;
  padding-top: 1rem;
}


button.primary {
  background-color: var(--primary);
  border: #18621f;
  color: #fff;
}
button.primary:active {
  background-color: #0f4d1a;
}